* { box-sizing: border-box; }

html { min-width: 500px; }

body { min-height: 300px; }

#button-bar {
    border: 1px solid gray;
    background-color: #e9fce9;
    padding: 8px;
}

#tabs-info {
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
    padding: 1rem 0.5rem;
}